.wishlist-page{

padding:50px 8%;

background:#faf7f2;

min-height:100vh;

}

.wishlist-page h1{

text-align:center;

font-size:42px;

color:#7a1f3d;

margin-bottom:40px;

}

.empty{

text-align:center;

margin-top:120px;

}

.wishlist-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.wishlist-card{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

}

.wishlist-card:hover{

transform:translateY(-8px);

}

.wishlist-card img{

width:100%;

height:320px;

object-fit:cover;

}

.wishlist-card h3{

padding:15px 20px 5px;

color:#222;

}

.wishlist-card p{

padding:0 20px;

color:#777;

}

.wishlist-card h2{

padding:10px 20px;

color:#7a1f3d;

}

.wishlist-buttons{

display:flex;

gap:10px;

padding:20px;

}

.cart{

flex:1;

background:#7a1f3d;

color:white;

border:none;

padding:14px;

border-radius:30px;

cursor:pointer;

font-size:15px;

}

.delete{

width:55px;

border:none;

border-radius:50%;

background:#ff4d4d;

color:white;

cursor:pointer;

font-size:18px;

}

.cart:hover{

background:#5f1632;

}

.delete:hover{

background:#e60023;

}